<div class="teaser__background" style="background-image:url({{teaser}});"></div>
<div class="teaser {{isMobile}}">
	<div class="teaser__gallery">
		<div class="teaser__gallery-container">		
			{{#each images}}
			<img src="{{source}}" alt="{{legend}}">	
			 {{/each}}	
			</div>
	</div>
	<div class="teaser__text">
		<div class="teaser__count"><span class="teaser__count-current">{{index}}</span>/<span class="teaser__count-total">3</span></div>
		<h2>{{title}}</h2>
		<div class="teaser__project-type">{{type}}</div>
		<p class="teaser__description">{{{description}}}</p>
		<div class="teaser__legend with-line">
			{{images.[0].legend}}
		</div>
		<a href="/" class="cta">go back to projects</a>
		<div class="next-project">next project - <a href="{{next-project.link}}" class="cta">{{next-project.title}}</a></div>
		<div class="scrollbox">
			<div class="scrollbox__down scrollbox__down--active">scroll down</div>
		</div>
	</div>
</div>